@page "{myId:int?}"
@model NDDC_MRMS_App.Pages.Settings.AddChecklistItemModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Add Examinaation</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Settings/Checklist">Checklist</a></li>
                    <li class="breadcrumb-item"><a href="/Settings/ChecklistItems">Checklist Items</a></li>
                    <li class="breadcrumb-item active">Add Examinaation</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Add Examinaation</h4>
                <div class="flex-shrink-0">
                    <div class="form-check form-switch form-switch-right form-switch-md">
                        <a class="btn btn-secondary" href="/Settings/ChecklistItems" >Back</a>
                    </div>
                </div>
            </div><!-- end card header -->
            <div class="card-body">
                    <form method="post">
                        <div class="row">
                            <div class="col-8">
                                <input asp-for="@Model.ExamType.Id" hidden="true" type="text" class="form-control" />
                                <div class="mb-3">
                                    <label for="firstNameinput" class="form-label">Examinaation Name</label>
                                    <input asp-for="@Model.ExamType.ExaminationType" type="text" class="form-control" placeholder="Enter Title (75 char.)" id="firstNameinput">
                                </div>
                            </div>

                        <div class="col-lg-8">
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div><!--end col-->
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>