@page
@model NDDC_MRMS_App.Pages.ViewRequestsModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">View Requests</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Requests</a></li>
                    <li class="breadcrumb-item active">View Requests</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-5 text-center">View Request</h5>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <th class="ps-0" scope="row">Examination Year :</th>
                                <td class="text-muted">Anna Adame</td>
                                <th class="ps-0" scope="row">Examination Type</th>
                                <td class="text-muted">Anna Adame</td>
                            </tr>

                            <tr>
                                <th class="ps-0" scope="row">Test Result</th>
                                <td class="text-muted">Anna Adame</td>
                                <th class="ps-0" scope="row">Result Unit</th>
                                <td class="text-muted">Male</td>
                            </tr>
                            <tr>
                                
                                <th class="ps-0" scope="row">Reference Range</th>
                                <td class="text-muted">Married</td>
                                <th class="ps-0" scope="row">Flag</th>
                                <td class="text-muted">38</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center mt-5" >
                        <div class="form-check text-success" data-bs-toggle="modal" data-bs-target="#Accept">
                            <button type="button" class="btn btn-md btn-success">Accept</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="Accept" tabindex="-1" aria-labelledby="AcceptLabel" aria-hidden="true">
                            <div class="modal-dialog pe-auto ">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="AcceptLabel">Accept</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Do you want to accept this request? 
                                </div>
                                <div class="modal-footer">
                                <a href="/Requests" type="button" class="btn btn-success">Yes</a>
                                <button type="button" class="btn btn-secondary">No</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-check text-success" data-bs-toggle="modal" data-bs-target="#Reject">
                            <button type="button" class="btn btn-md btn-danger">Reject</button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="Reject" tabindex="-1" aria-labelledby="Rejectabel" aria-hidden="true">
                            <div class="modal-dialog pe-auto ">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="RejectLabel">Accept</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                Do you want to reject this request? 
                                </div>
                                <div class="modal-footer">
                                <a type="button" class="btn btn-success pe-auto " href="/Requests">Yes</a>
                                <button type="button" class="btn btn-secondary">No</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end card body -->
        </div>
    </div>
</div>